upstream demo {
    {% for server in groups.tag_Name_loadbalancer_database %}
        server {{ server }}
    {% endfor %}
}

server {
    listen 80

    location / {
        proxy_pass http://demo;
    }
}